---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.slice(0, 10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <slot />

  <footer>
    <h3>Tags</h3>
    <div class="tags-layout">
      {
        frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </footer>
</BaseLayout>
